body {
    background-color: var(--gris_claro);
    font-family: Arial, sans-serif;
    margin: 0;
}

header, footer {
    border: 0.2vw solid black;
    padding: 1vw;
}

main{
    max-width: 800px;
    margin: 1vw auto;
    padding: 0vw;
    /*border: 0.2vw solid var(--oro);
    border-radius: 1vw;
    box-shadow: 0 0 10px var(--oro);*/
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-optical-sizing: auto;
    font-size: 2.5em;
    font-weight: 300;
    text-align: left;
    padding: 1vw;
}

.containerMain {
    max-width: 800px;
    margin: 1vw auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

h1, h2 {
    text-align: center;
}

.section {
    margin-bottom: 20px;
}
.section h2 {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-optical-sizing: auto;
    font-size: 2vw;    
    font-weight: 300;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin: 0vw;
}
.details, .products {
    width: 100%;
    border-collapse: collapse;
}
.details th, .details td, .products th, .products td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
.products th {
    background-color: #f0f0f0;
}
.products td {
    text-align: right;
}
.products td:first-child {
    text-align: left;
}

.btnOrden {
    background-color: var(--lila_claro);
    color: white;
    padding: 10px 20px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btnOrden:hover {
    background-color: var(--lila_oscuro);
}