/* container */
.container-AdminUser {
  
  margin: 0 auto;
  
}

/* table */
.table-AdminUser {
  border-collapse: collapse;
  width: 100%;
}

.table-AdminUser th,
.table-AdminUser td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-AdminUser th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-AdminUser tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* modal */
.modal-content-AdminUser {
  background-color: #fefefe;
}

.modal-header-AdminUser {
  border-bottom: none;
  padding: 15px;
}

.modal-title-AdminUser {
  margin-bottom: 0;
}

.modal-body-AdminUser {
  padding: 15px;
}

/* buttons */
.btn-primary {
  height: 50%;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  background-color: #e0b109;
  border-color: #d39e08;
}
