
header {
    background-color: var(--gris_claro);
    
    padding: 10px 0; /* Espaciado interno del encabezado */
}

.navbar-brand img {
    max-height: 60px; /* Tamaño máximo del logo */
}

.navbar-nav .nav-link {
    color: var(--lila_claro);
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: var(--lila_oscuro);
}

.admin-link {
    color: goldenrod;
    font-weight: bold;
}

.admin-link:hover {
    color: darkorange;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%288, 8, 8, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-outline-primary {
    border-color: var(--lila_claro);
    color: var(--lila_claro);
}

.btn-outline-primary:hover {
    background-color: var(--lila_claro);
    color: #fff;
}
.navbar-nav .btn {
    margin: 5px; 
    color: goldenrod;
    font-weight: bold;
    border-color: goldenrod;
  }
  .navbar-nav .btn:hover {
    color: darkorange;
}