@import url("./variables.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./quienessomos.css");
@import url("./contacto.css");
@import url("./productos.css");
@import url("./index.css");
@import url("./clientes.css");
@import url("./ubicacion.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  main{
background-color: var(--gris_claro);
  }