<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>

    <main>
      <section class="seccion3">
        <div class="container-clientes">
          <h2 class="text-center">Clientes</h2>
          <h3 class="text-center">Confían en nosotros</h3>
          <h4 class="text-center">
            Estos son algunos de los clientes que confían en Vientos de Altura
          </h4>
          <div class="grid-clientes">
            <!-- Grid de clientes -->
            <div class="col-md-2">
              <img class="gridItemCliente img-fluid" src="../img/Clientes/falabella-1.png" alt="logo" />
            </div>
            <div class="col-md-2">
              <img class="gridItemCliente img-fluid" src="../img/Clientes/ICBC.png" alt="logo" />
            </div>
            <div class="col-md-2">
              <img class="gridItemCliente img-fluid" src="../img/Clientes/lacaja-1.png" alt="logo" />
            </div>
            <div class="col-md-2">
              <img class="gridItemCliente img-fluid" src="../img/Clientes/Logo-Isa.png" alt="logo" />
            </div>
            
            <div class="col-md-2">
              <img class="gridItemCliente img-fluid" src="../img/Clientes/Logo-Uala.png" alt="logo" />
            </div>
          
            <div class="col-md-2">
              <img class="gridItemCliente img-fluid" src="../img/Clientes/waltmart.png" alt="logo" />
            </div>
            <div class="col-md-2">
              <img class="gridItemCliente img-fluid" src="../img/Clientes/metlife-1.png" alt="logo" />
            </div>
            <div class="col-md-2">
              <img class="gridItemCliente img-fluid" src="../img/Clientes/sancor-1.png" alt="logo" />
            </div>
            <div class="col-md-2">
              <img class="gridItemCliente img-fluid" src="../img/Clientes/sura-1.png" alt="logo" />
            </div>
            <div class="col-md-2">
              <img class="gridItemCliente img-fluid" src="../img/Clientes/telecom3-1.png" alt="logo" />
            </div>
            <div class="col-md-2">
              <img class="gridItemCliente img-fluid" src="../img/Clientes/ypf-1.png" alt="logo" />
            </div>
          </div>
        </div>
      </section>
    </main>
    
    <%- include("partials/footer") %>
    
  </body>
</html>
