<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>

    <main>
      <div class="contacto" >
        <div class="contactotitulo">
          <h1>¿Cómo Podemos Ayudarte?</h1>
            <h3>¡Gracias por visitar <strong><em>Bodega Vientos de Altura.</em></strong> Valoramos tu interés en nosotros y nos encantaría conocerte más. Por cualquier consulta o comentario, no dudes en ponerte en contacto con nosotros. Nos comunicaremos lo antes posible para ayudarte!</h3>
            <img class="imgContacto" src="../img/otros/botellaGrandeGirada.png" alt="contacto">
        </div> 
        <div class="formContainer">
            
            <form class="contactForm">
                <label for="nombre">Nombre y Apellido <span>*</span></label>
                <input type="text" id="nombre" required>
                <span id="alert-nombre"></span>
                
                <!-- <label for="interesado">Interesado <span>*</span></label> -->
                <select name="interesado" id="interesado" required>
                    <option label="Interesado *"></option>
                    <option>Supermercado</option>
                    <option>Mayorista</option>
                    <option>Distribuidora</option> <!-- Corregido el nombre de la opción -->
                    <option>Otro</option>
                </select>
              
            
                <label for="empresa">Empresa <span>*</span></label>
                <input type="text" id="empresa" placeholder="Empresa" required>
                <span id="alert-empresa"></span>
            
                <label for="email">Correo Electrónico <span>*</span></label>
                <input type="email" id ="email" placeholder="Correo Electrónico">
                <span id="alert-email"></span>
            
                <label for="tel">Teléfono:</label>
                <input type="tel" name="tel" id="tel" placeholder="Formato: +54 9 11 1111-1111">
                <span id="alert-tel"></span>
            
                <label for="mensaje">Mensaje <span>*</span></label>
                <textarea name="mensaje" id="mensaje" cols="30" rows="6" placeholder="Por favor, contanos cómo te podemos ayudar" required></textarea>
                <span id="alert-mensaje"></span>
            
                <label for="terminos">
                    <input type="checkbox" name="terminos" id="terminos" required>
                    Acepto la política de privacidad y los términos y condiciones de Vientos de Altura.
                </label>
                
            
                <input type="submit" name="enviar" id="enviar" value="Enviar">
            </form>                
        </div>
   </div>


  </main>
  
  <%- include("partials/footer") %>
  
</body>
</html>
