<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinamico 2</title>
</head>
<body>
    <h1>Esto es dinamico 2</h1>
    <a href="/rutaDinamica">Ir a 1ra Pagina Dinamica</a>

    <br/><br/>
    <form method="POST" action="/rutaDinamica2">
        <label for="nombre">Texto Post <input type="text" name="nombre"></label>
        <input type="submit" value="POST">
    </form>
    <br/>

    
    <br/><br/>
    <form method="POST" action="/rutaDinamica2?_metodo=PATCH">
        <label for="nombreUpdate">Texto Update<input type="text" name="nombreUpdate"></label>
        <input type="submit" value="UPDATE">
    </form>
    <br/>

    <br/><br/>
    <form method="POST" action="/rutaDinamica2?_metodo=DELETE">
        <label>Eliminar: <input type="text" name="delete"></label>
        <input type="submit" value="DELETE">
    </form>
    <br/>
</body>
</html>