<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>

    <main>
      <section class="seccion1" id="homePage">
        <h1>Bienvenidos a Vientos de Altura</h1>

        <div class="carrusel">
          <div class="contenedorImagenes">
            <img src="img/Carrusel/mendoza.jpg" alt="Imagen 1" class="imgC" />
            <img src="img/Carrusel/winery_2.webp" alt="Imagen 2" class="imgC" />
            <img src="img/Carrusel/winery_7.webp" alt="Imagen 3" class="imgC" />
            <img src="img/Carrusel/winery_3.jpg" alt="Imagen 4" class="imgC" />
          </div>

          
        </div>
      </section>
    </main>

    <%- include("partials/footer") %>
   
  </body>
</html>
