<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  
    <title>Add New Cliente</title>
  </head>
  <body>
    <main>
      <div class="container">
        <h1>Agregre un nuevo cliente</h1>
        <form action="/save" method="post">
          <div class="mb-3">
            <label for="cliente">Nombre Cliente</label>
            <input
              type="text"
              name="cliente"
              id="cliente"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="tipo_cliente">Tipo Cliente</label>
            <select name="tipo_cliente" id="tipo_cliente" class="form-select">
              <option value="Mayorista">Mayorista</option>
              <option value="Distribuidor">Distribuidor</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" tabindex="5">
            Guardar
          </button>
          <a href="/cliente" class="btn btn-danger">volver</a>
        </form>
      </div>
    </main>
    
    <%- include("partials/footer") %>
  </body>
</html>
