<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>

    
    <main>
      <section class="container seccion2 productos" id="productos">
        <!--h1 class="text-center">Productos</h1-->
        <h2 class="text-center">
          Te invitamos a conocer nuestros mejores vinos
        </h2>
        <div class="row justify-content-center">
          <!-- Producto 1 -->
          <div class="col-md-4">
            <div class="caja p-3">
              <img
                class="item img-fluid"
                src="../img/Productos/malbec_300px.png"
                alt="cabarceno750"
              />
              <h4 class="item">Reserva Malbec</h4>
              <p class="item productoDescripcion">
                Malbec de guarda en barrica de roble francés. Para exigentes
              </p>
            </div>
          </div>
          <!-- Producto 2 -->
          <div class="col-md-4">
            <div class="caja p-3">
              <img
                class="item img-fluid"
                src="../img/Productos/sparkling_300px.png"
                alt="cabarceno1125"
              />
              <h4 class="item">Sparking Wine</h4>
              <p class="item productoDescripcion">
                Exquisito vino espumante para compartir de 2
              </p>
            </div>
          </div>
          <!-- Producto 3 -->
          <div class="col-md-4">
            <div class="caja p-3">
              <img
                class="item img-fluid"
                src="../img/Productos/buenosAires_300px.png"
                alt="cabarceno3000"
              />
              <h4 class="item">Buenos Aires</h4>
              <p class="item productoDescripcion">
                Ideal para Comer asados y acompañar un abrazo
              </p>
            </div>
          </div>
          <!-- Producto 4 -->
          <div class="col-md-4">
            <div class="caja p-3">
              <img
                class="item img-fluid"
                src="../img/Productos/tango_300px.png"
                alt="producto4"
              />
              <h4 class="item">Tango - 2x4</h4>
              <p class="item productoDescripcion">
                En sus variedades Malbec, Cabernet Sauvignon y Chardonnay
              </p>
            </div>
          </div>
          <!-- Producto 5 -->
          <div class="col-md-4">
            <div class="caja p-3">
              <img
                class="item img-fluid"
                src="../img/Productos/Tardia_300.png"
                alt="producto5"
              />
              <h4 class="item">Cosecha Tardía</h4>
              <p class="item productoDescripcion">
                Expectacular vino licoroso para postres y sobremesas
              </p>
            </div>
          </div>
          <!-- Producto 6 -->
          <div class="col-md-4">
            <div class="caja p-3">
              <img
                class="item img-fluid"
                src="../img/Productos/candy.png"
                alt="producto6"
              />
              <h4 class="item">Cosecha Anticipada - Candy</h4>
              <p class="item productoDescripcion">
                Menos concentración de alcohol y frescura para tus noches
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
   
    <%- include("partials/footer") %>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
