<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>

    <main>
      <div class="container quienessomos">
        <div class="titulo"><h1>BODEGA VIENTOS DE ALTURA</h1></div>
        <div class="row">
          <div class="col-md-6">
            <div class="itemDuenia">
              <img
                src="../img/dueniaBodega.jpg"
                alt="duenia"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="contenedorNosotros">
              <p>
                Fundada en 1884 por <strong> Sandra Ortiz Ocampo</strong>,
                Bodega Vientos de Altura es una bodega con el compromiso de
                elaborar los vinos que representan a la Argentina en el mundo
                por su elegancia y calidad.
              </p>

              <p>
                <strong>Bienvenidos a la Bodega Vientos de Altura, </strong
                >donde el vino es más que una bebida: es un poema, una expresión
                del alma, una invitación a explorar los rincones más profundos
                de nuestros sentidos. En cada botella, descubrirán la esencia de
                la tierra, el susurro del viento y el arte eterno del vino.
              </p>

              <p>
                Además, el vino es la bebida que nos conecta con la vida. El
                vino nos conecta con la naturaleza, nos conecta con la magia y
                nos conecta con la vida.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include("partials/footer") %>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
