<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img
          src="img/logos/vientosDeAltura-logo.png"
          alt="logoNav"
          class="logoNav"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quienessomos">Quiénes Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/productos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clientes">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ubicacion">Ubicación</a>
          </li>
          
          <% if (user && user.rol_id === 1) { %>
            <li class="nav-item">
              <a style="color: goldenrod;" class="nav-link" href="/adminuser">Gs. Usuarios</a>
            </li>
            <li class="nav-item">
              <a style="color: goldenrod;" class="nav-link" href="/adminProduct">Gs. Productos</a>
            </li>
            <li class="nav-item">
              <a style="color: goldenrod;" class="nav-link" href="/adminCliente">Gs. Clientes</a>
            </li>
          <% } %>
          <% if (user && (user.rol_id === 1 || user.rol_id === 2)) { %>
            <li class="nav-item">
              <a style="color: goldenrod;" class="nav-link" href="/neworder">Gs. Ventas</a>
            </li>
            <li class="nav-item">
              <a style="color: goldenrod;" class="nav-link" href="/pedidos">Gs. Pedidos</a>
            </li>
          <% } %>
        </ul>
        <% if (user) { %>
          <p class="nav-link">Bienvenido, <%= user.nombre %>!</p>
          <a class="nav-link" href="/logout">Logout</a>
        <% } else { %>
          <a class="nav-link" href="/login">Login</a>
        <% } %>
        
      </div>
    </div>
  </nav>
</header>
